#titleBar {
    -fx-background-color: black;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

/* Style for the scroll-bar itself */
.scroll-bar:vertical, .scroll-bar:horizontal{
    -fx-background-color:transparent;
}

/* The background of the scroll-bar track */
.scroll-bar .track-background {
    -fx-background-color: transparent;
}

/* The track itself */
.scroll-bar .track {
    -fx-background-color: #2D2D2D; /* A dark gray for the track */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* The draggable part of the scroll-bar */
.scroll-bar .thumb {
    -fx-background-color: #666666; /* A lighter gray for the thumb */
    -fx-background-insets: 0;
    -fx-background-radius: 5px; /* Rounded corners */
}

/* Style the thumb on hover */
.scroll-bar .thumb:hover {
    -fx-background-color: #888888;
}

/* Hide the increment and decrement buttons (the arrows) */
.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}